.login-form-container {
    margin: 0 auto;
    margin-top: 200px;
    padding: 30px;
    background-color: lightgrey;
    width: 50%;
    border: 1px solid darkgrey;
}

main {
    min-height: 300px;
}

.form-type1 {
    padding: 5px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

footer {
    background-color: black;
    color: white;
}